#!/bin/bash -x

export DEBIAN_FRONTEND=noninteractive
export MANIFEST_DIRECTORY=/var/lib/rancher/k3s/server/manifests

# Install k3s
curl -sfL https://get.k3s.io | K3S_KUBECONFIG_MODE="644" INSTALL_K3S_EXEC="--flannel-backend=none --cluster-cidr=192.168.0.0/16 --disable-network-policy --disable=traefik" sh -

# Install Calico
curl https://raw.githubusercontent.com/shpwrck/MCSRIOV/master/files/calico.yml --output $MANIFEST_DIRECTORY/calico.yaml --create-dirs

# Install Multus
curl https://raw.githubusercontent.com/shpwrck/MCSRIOV/master/files/multus-daemonset.yml --output $MANIFEST_DIRECTORY/multus-daemonset.yml --create-dirs

# Install CNI Plugins
wget -qO- https://github.com/containernetworking/plugins/releases/download/v0.9.1/cni-plugins-linux-amd64-v0.9.1.tgz | tar xzf - -C /opt/cni/bin

# Install SR-IOV
curl https://raw.githubusercontent.com/k8snetworkplumbingwg/sriov-cni/master/images/k8s-v1.16/sriov-cni-daemonset.yaml --output $MANIFEST_DIRECTORY/sriov-cni-daemonset.yaml --create-dirs

# Install Multus Example
curl https://raw.githubusercontent.com/shpwrck/MCSRIOV/master/files/multus-example.yml --output $MANIFEST_DIRECTORY/multus-example.yaml --create-dirs
